 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
 /*Geral*/
  a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: white; /* altera a cor de todos os links das páginas */
}
 body {
  font-family: "Bebas Neue", sans-serif;
      background-color: black;
      color: white;
 }
 
/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 0;
    background: rgb(133, 133, 133);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 4vw;
    height: 4vw;
    margin: 0 0 0 1.5vw;
}

.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}

.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}

.navegacao-site {
    color: white;
    margin-top: 2vw;
}
span#burger{
    display: none;
}
.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navegacao-site ul li {
    transition: transform 0.3s ease;
}

.navegacao-site ul li a:hover {
    color: #F24B4B;
}

.navegacao-site ul li:hover {
    transform: scale(1.1);
}

.navegacao-site ul li p:hover {
    color: #F24B4B;
}

.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 1.5vw;
    font-size: 1.3vw;
}

.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

.navegacao-site nav ul li ul li {
    position: relative;
    margin: 15px 0 15px 0;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navegacao-site nav ul li ul {
    display: none;
}

.navegacao-site nav ul li:hover ul {
    display: block;
    position: absolute;
}

.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}
    /*footer*/
    footer{
 color: white;
    }
    .logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-footer {
    text-align: center;
}
.instagram-footer h4 {
    font-size: 2rem;
}
.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}
.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}
.contatos-footer p {
    margin-bottom: 10px;
}
.contatos-footer p a {
    text-decoration: underline;
}
.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}
.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}
.linhas-footer img {
    width: 90vw;
}

/* sobre nós textos */
.sobreNosTextos h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}
.sobreNosTextos h3 span {
    color: #ED1616;
}
.sobreNosTextosP2 {
    margin-bottom: 3vw;
}
.sobreNosTextosP2 h3 {
    font-size: 3rem;
    text-align: center;
}
.sobreNosTextosP2 h3 span {
    color: #ED1616;
}
.sobreNosTextosP2 p {
    background-color: #2C2C2C;
    margin-right: 10vw;
    padding: 1vw 0 1vw 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-family: "Noto Serif", serif;
}
.textosSaudeMental {
    background-color: #2C2C2C   ;
    margin-left: 11vw;
    padding: 2vw 0 2vw 2vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerAlimentação.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}

.texto-inicio-banner {
    position: absolute;
    margin: 13vw 8vw;
}

.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}

.banner-inicio h1 span {
    color: white;
    display: block;
}

/* texto1 */
.texto1 {
    margin: 5vw 10vw;
}
.texto1 h2 {
    text-align: left;
    font-family: "Alfa Slab One", serif;
    font-size: 2vw;
    margin: 0 0 2vw 0;
}
.texto1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.texto1 img {
    width: 25vw;
}
.texto1 p {
    font-family: "Noto Serif", serif;
    font-size: 1.6vw;
    line-height: 2.3vw;
    max-width: 80%;
}

/* texto2 */
.texto2 {
    margin: 5vw 10vw;
}
.texto2 h2 {
    font-family: "Alfa Slab One", serif;
    font-size: 3vw;
    color: #ED1616;
    margin: 0 0 1vw 0;
    font-weight: normal;
}
.texto2 p {
    font-family: "Noto Serif", serif;
    font-size: 1.5vw;
    line-height: 1.6vw;
}
.texto2 ul {
    list-style-type: disc;
}
.texto2 ul li {
    margin: 0 0 1vw 0;
}
.texto2 img {
    margin: 1vw 0 0 0;
    width: 50vw;
    height: 23vw;
}

/* texto3 */
.texto3 {
    margin: 5vw 10vw;
}
.texto3 h2 {
    font-family: "Alfa Slab One", serif;
    font-size: 3vw;
    margin: 0 0 1vw 0;
}
.texto3 p {
    font-family: "Noto Serif", serif;
    font-size: 1.5vw;
    line-height: 1.6vw;
}
.texto3 ul {
    list-style-type: disc;
}
.texto3 ul li {
    margin: 0 0 1vw 0;
}
.texto3 img {
    margin: 1vw 0 0 0;
    width: 50vw;
    height: 23vw;
}

/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}

.linhas img {
    max-width: 100%;
    width: 95%;
}

@media (max-width: 999px) {
    .texto1 h2 {
        font-size: 4vw;
    }
    .texto1 p {
        font-size: 3vw;
        line-height: 3vw;
    }
    .texto2 p {
        font-size: 3vw;
        line-height: 3vw;
    }
    .texto3 p {
        font-size: 3vw;
        line-height: 3vw;
    }
}
@media (max-width: 768px) { 
    header{
        position: relative;
    }
 span#burger{
    display: block;
    color: white;
    text-decoration: none;
    text-align: end;
    cursor: pointer;
    margin: 0 0 0 95vw;
}
.navegacao-site{
    position: absolute;
}
.navegacao-site nav{
    display: none;
    margin: 0 0 0 82vw;
}
.navegacao-site ul{
    flex-direction: column;
    font-size: 1.1rem;
}
.navegacao-site nav ul li:hover ul {
    display: block;
    position: relative;
}
 }