 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
 @import url(`https://fonts.googleapis.com/css2?family=Akshar&family=Paytone+One&display=swap`);

 /*Geral*/
 a {
     text-decoration: none;
     /* remove o sublinhado dos links */
     color: white;
     /* altera a cor de todos os links das páginas */
 }

 body {
     font-family: "Bebas Neue", sans-serif;
     background-color: black;
 }

 main {
     color: white;
 }

 /* header */
 header {
     display: flex;
     justify-content: space-between;
     margin: 0 2vw;
     background-color: black;
 }

 .logo-container {
     display: flex;
     align-items: center;
 }

 .logo {
     margin: 0 0 0 1.5vw;
     width: 4vw;
 }

 .logo-text {
     color: white;
     font-family: sans-serif;
     font-weight: bolder;
     font-size: 1.8vw;
     padding: 0 0 0 0.5vw;
 }

 .logo-brain {
     width: 5vw;
     height: 5vw;
     padding: 0.4vw 0 0 0;
     transform: rotate(18.39deg);
 }

 .navegacao-site {
     color: white;
     margin-top: 2vw;
 }

 .navegacao-site ul li a {
     color: white;
     transition: color 0.3s ease;
 }

 .navegacao-site ul li {
     transition: transform 0.3s ease;
 }

 .navegacao-site ul li a:hover {
     color: #F24B4B;
 }

 .navegacao-site ul li:hover {
     transform: scale(1.1);
 }

 .navegacao-site ul li p:hover {
     color: #F24B4B;
 }

 .navegacao-site ul {
     font-family: "Saira Stencil One", sans-serif;
     display: flex;
     gap: 1.5vw;
     font-size: 1.3vw;
 }

 .navegacao-site span {
     text-decoration: underline;
     text-decoration-color: #F24B4B;
 }

 .navegacao-site nav ul li ul li {
     position: relative;
     margin: 15px 0 15px 0;
     opacity: 0.7;
     transition: opacity 0.3s ease, transform 0.3s ease;
 }

 .navegacao-site nav ul li ul {
     display: none;
 }

 .navegacao-site nav ul li:hover ul {
     display: block;
     position: absolute;
 }

 .navegacao-site nav ul li ul li:hover {
     opacity: 1;
     transform: scale(1.1);
 }

 /*banner*/
 /* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}

.texto-inicio-banner {
    position: absolute;
    margin: 13vw 8vw;
}

.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}
.banner-inicio h1 span{
    display: block;
    color: white;
}
 /* linhas */
 .linhas {
     margin: 4vw 0 4vw 0;
     display: flex;
     justify-content: center;
 }

 .linhas img {
     width: 90vw;
 }

 /*textos*/
 section.texto {
     padding: 0 8vw 0 8vw;
 }

 section.texto p {
     text-align: center;
     margin: 0 0 2vw 0;
     font-size: 2vw;
     font-family: "Akshar", sans-serif;
 }

 /*lesoes frequentes*/
 section.lesoescomun {
     padding: 0 8vw 0 8vw;

 }

 section.lesoescomun h2 {
     color: #ED1616;
     font-size: 3vw;
     font-weight: normal;
     margin: 0 0 4vw 0;
     font-family: "Alfa Slab One";
     justify-content: center;
     display: flex;
 }

 section.lesoescomun ul {
     list-style-type: disc;
 }

 section.lesoescomun ul li p {
    max-width: 90%;
     font-size: 1.5vw;
     line-height: 2.3vw;
     margin: 0 0 0 1vw;
     font-family: "Akshar", sans-serif;
 }

 section.lesoescomun img {
     text-align: center;
     width: 34vw;
 }

 section.lesoescomun div.Lista {
     display: flex;
     align-items: center;
 }

 /*causas*/
 section.causaslesoes {
     padding: 0 8vw 0 8vw;
 }

 section.causaslesoes div {
     display: flex;
     align-items: center;
 }

 section.causaslesoes h2 {
     color: #ED1616;
     font-size: 3vw;
     font-weight: normal;
     margin: 0 0 4vw 0;
     font-family: "Alfa Slab One";
     justify-content: center;
     display: flex;

 }

 section.causaslesoes ul {
     list-style-type: disc;
 }

 section.causaslesoes ul li p {
    max-width: 90%;
     font-size: 1.5vw;
     line-height: 2.3vw;
     margin: 0 0 0 1vw;
     font-family: "Akshar", sans-serif;
 }

 section.causaslesoes img {
     text-align: center;
     width: 35vw;
 }

 /*footer*/
 footer {
     color: white;
 }

 .logo-container-footer {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .instagram-footer {
     text-align: center;
 }

 .instagram-footer h4 {
     font-size: 2rem;
 }

 .instagram-footer p {
     margin-top: 15px;
     font-size: 3rem;
 }

 .contatos-footer {
     font-family: "ABeeZee", sans-serif;
     text-align: center;
 }

 .contatos-footer p {
     margin-bottom: 10px;
 }

 .contatos-footer p a {
     text-decoration: underline;
 }

 .copyright-footer {
     padding: 20px 0 20px 0;
     text-align: center;
     background-color: #F24B4B;
 }

 .linhas-footer {
     margin: 1vw 0 1vw 0;
     display: flex;
     justify-content: center;
 }

 .linhas-footer img {
     width: 90vw;
 }

 /* sobre nós textos */
 .sobreNosTextos h3 {
     font-size: 3rem;
     text-align: center;
     margin-bottom: 10px;
 }

 .sobreNosTextos h3 span {
     color: #ED1616;
 }

 .sobreNosTextosP2 {
     margin-bottom: 3vw;
 }

 .sobreNosTextosP2 h3 {
     font-size: 3rem;
     text-align: center;
 }

 .sobreNosTextosP2 h3 span {
     color: #ED1616;
 }

 .sobreNosTextosP2 p {
     background-color: #2C2C2C;
     margin-right: 10vw;
     padding: 1vw 0 1vw 0;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     font-size: 1.1rem;
     line-height: 1.3rem;
     font-family: "Noto Serif", serif;
 }

 .textosSaudeMental {
     background-color: #2C2C2C;
     margin-left: 11vw;
     padding: 2vw 0 2vw 2vw;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
 }

 @media only screen and (max-width: 992px) {
    .Lista {
        flex-direction: column;
    }
    .Lista img {
        margin-top: 5vw;
    }
    .principais {
        flex-direction: column;
    }
    .texto h2 {
        font-size: 5vw;
    }
    .principais img {
        margin-top: 5vw;
        margin-bottom: 2vw;
    }
    section.causaslesoes h2 {
        font-size: 5vw;
    }
    section.lesoescomun h2 {
        font-size: 5vw;
    }
    section.causaslesoes ul li p {
        font-size: 3vw;
        line-height: 3vw;
    }
     section.lesoescomun ul li p {
        font-size: 3vw;
        line-height: 3vw;
     }
     section.texto p {
        font-size: 3vw;
        line-height: 3vw;
    }
}

strong {
    font-weight: bold;
    color: red;
}