@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #F5F5F5;
}

a {
    text-decoration: none;
    /* remove o sublinhado dos links */
    color: white;
    /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
    max-width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 4vw;
    height: 4vw;
    margin: 0 0 0 1.5vw;
}

.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}

.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}

.navegacao-site {
    color: white;
      max-width: 100%;
    position: absolute;
}
span#burger{
    display: none;
}
.navegacao-site nav{
    margin: 2vw 0 0 48vw;
}
.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navegacao-site ul li {
    transition: transform 0.3s ease;
}
.navegacao-site ul li p{
    opacity: 1;
}
.navegacao-site ul li a:hover {
    color: #F24B4B;
}

.navegacao-site ul li:hover {
    transform: scale(1.1);
}

.navegacao-site ul li p:hover {
    color: #F24B4B;
}

.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 1.5vw;
    font-size: 1.3vw;
}

.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

.navegacao-site nav ul li ul li {
    position: relative;
    margin: 15px 0 15px 0;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navegacao-site nav ul li ul {
    display: none;
}

.navegacao-site nav ul li:hover ul {
    display: block;
    position: absolute;
}

.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}
/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}

.linhas img {
    max-width: 100%;
    width: 95%;
}
/*Section planos*/
section.Planos {
    text-align: center;
    margin: 8vw 2vw 0 2vw;
}
section.Planos ul {
    display: flex;
    justify-content: space-around;
}

section.Planos ul li {
    background: linear-gradient(to bottom, #1a1a1a 0%, #121212 60%, #000000 100%);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    text-align: center;
    padding: 1.5vw 3vw 25vw 3vw;
    border-radius: 30px;
    margin: 6vw 0 0 0;
}
section.Planos ul li.recomendado {
    margin: 0;
}
section.Planos ul li h3 {
    font-size: 1.8rem;
    font-family: Alfa Slab One;
    margin: 1vw 0 1vw 0;
}

section.Planos ul li h4 {
    font-size: 1.6rem;
    font-family: Paytone One;
    margin: 0 0 1vw 0;
}

section.Planos ul li h4 span {
    font-family: ABeeZee;
}

section.Planos ul li h4 span span {
    color: #ED1616;
}

section.Planos ul li p {
    color: #9c9a9a;
    font-family: ABeeZee;
    margin: 0 0 2vw 0;
    font-size: 1.2rem;
}

section.Planos ul li button {
    border-radius: 25vw;
    background-color: #ED1616;
    border: 1px solid white;
    padding: 2vw 7vw;
    font-weight: bold;
    color: white;
    font-size: 1.7rem;
    font-family: Paytone One;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

section.Planos ul li button:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 2vw rgba(255, 0, 0, 0.3);
}
/*Footer*/
footer{
    max-width: 100%;
}
.logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-footer {
    text-align: center;
}

.instagram-footer h4 {
    font-size: 2rem;
}

.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}

.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}

.contatos-footer p {
    margin-bottom: 10px;
}

.contatos-footer p a {
    text-decoration: underline;
}

.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}

.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}

.linhas-footer img {
    width: 90vw;
}

.textosSaudeMental a {
    text-decoration: underline;
}

@media (max-width: 1500px) {
section.Planos ul li h3 {
    font-size: 1.6rem;
}
section.Planos ul li h4 {
    font-size: 1.4rem;
}
section.Planos ul li p {
    font-size: 0.9rem;
}
section.Planos ul li button {
    padding: 2vw 6.5vw;
    font-size: 1.3rem;
}
}
@media (max-width: 1200px) {
section.Planos ul li h3 {
    font-size: 1.4rem;
}
section.Planos ul li h4 {
    font-size: 1.2rem;
}
section.Planos ul li p {
    font-size: 0.9rem;
}
section.Planos ul li button {
    padding: 2vw 6vw;
    font-size: 1.2rem;
}
}
@media (max-width: 1100px) {
section.Planos ul li h3 {
    font-size: 1.3rem;
}
section.Planos ul li h4 {
    font-size: 1.1rem;
}
section.Planos ul li p {
    font-size: 0.8rem;
}
section.Planos ul li button {
    padding: 2vw 5.5vw;
    font-size: 1.1rem;
}
}
@media (max-width: 1000px) {
section.Planos ul li h3 {
    font-size: 1.2rem;
}
section.Planos ul li h4 {
    font-size: 1rem;
}
section.Planos ul li p {
    font-size: 0.73rem;
}
section.Planos ul li button {
    padding: 2vw 5vw;
    font-size: 1rem;
}
}
@media (max-width: 850px) {
section.Planos ul li h3 {
    font-size: 1.1rem;
}
section.Planos ul li h4 {
    font-size: 0.9rem;
}
section.Planos ul li p {
    font-size: 0.65rem;
}
section.Planos ul li button {
    padding: 2vw 4.6vw;
    font-size: 0.9rem;
}
}
@media (max-width: 768px) {
section.Planos ul li h3 {
    font-size: 1rem;
}
section.Planos ul li h4 {
    font-size: 0.82rem;
}
section.Planos ul li p {
    font-size: 0.6rem;
}
section.Planos ul li button {
    padding: 2vw 4.2vw;
    font-size: 0.81rem;
}
  header{
        position: relative;
    }
.navegacao-site span#burger{
    display: block;
    color: white;
    text-decoration: none;
    text-align: end;
    cursor: pointer;
    margin: 2vw 0 0 90vw;
    font-size: 1.3rem;
}
.navegacao-site{
    position: absolute;
}
.navegacao-site nav{
    display: none;
    margin: 0 0 0 80vw;
}
.navegacao-site ul{
    flex-direction: column;
    font-size: 1.1rem;
}
.navegacao-site nav ul li{
    margin: 1vw 0;
}
}
.navegacao-site nav ul li ul li{
    margin: 1.3vw 0;
}
.navegacao-site nav ul li:hover ul {
    display: block;
    position: relative;
}

@media (max-width: 700px){
section.Planos ul {
    flex-direction: column;
    align-items: center;
}
section.Planos ul li {
    background: none;
    padding: 4vw 3vw 4vw 3vw;
    border-radius: 15px;
    margin: 0 0 10vw 0;
    background-color: #1a1a1a;
    box-shadow: none;
    width: 70%;
}
section.Planos ul li.recomendado{
 margin: 0 0 9vw 0;
}
section.Planos ul li h3 {
    font-size: 1.4rem;
    font-family: Alfa Slab One;
    margin: 1vw 0 1vw 0;
}
section.Planos ul li h4 {
    font-size: 1.3rem;
}
section.Planos ul li p {
    margin: 0 0 2vw 0;
    font-size: 1.1rem;
}
section.Planos ul li button {
    padding: 2vw 5.5vw;
    font-size: 1.2rem;
}
}

 @media (max-width: 600px){
    .navegacao-site ul{
        font-size: 1rem;
    }
    .navegacao-site nav{
        margin: 0 0 0 78vw;
    }
 }
  @media (max-width: 500px){
    .navegacao-site ul{
        font-size: 0.9rem;
    }
    .navegacao-site  nav{
        margin: 0 0 0 75vw;
    }
    span #burger{
        margin: 2vw 0 0 88vw;
    }
 }
 @media (max-width: 450px){
    .navegacao-site ul{
        font-size: 0.8rem;
    }
 }
 @media (max-width: 400px){
    .navegacao-site ul{
        font-size: 0.7rem;
    }
   span #burger{
    font-size: 1.2rem;
   }
 }
 @media (max-width: 340px){
    .navegacao-site ul{
        font-size: 0.65rem;
    }
    span #burgen{
        font-size: 1.1rem;
        margin: 2vw 0 0 87vw;
    }
    .navegacao-site nav{
        margin: 0 0 0 70vw;
    }
 }