@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: white; /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    margin: 0 0 0 1.5vw;
}
.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}
.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}
.navegacao-site {
    color: white;
    margin-top: 2vw;
}
.navegacao-site ul li a {
    color: white;
}
.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 10px;
    font-size: 1.3vw;
}
.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}
.texto-inicio-banner {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
}
.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}
.banner-inicio h2 {
    font-size: 4vw;
}
.redesSociaisBanner {
    padding: 5px 450px 5px 100px;
    background: linear-gradient(to right, #ED1616, #ED1616, white);
    position: absolute;
    top: 100vh;
    font-size: 1.8vw;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.redesSociaisBanner a {
    margin: 0 8px 0 8px;
}

/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}
.linhas img {
    width: 90vw;
}

/* Sobre nós */
.sobreNos {
    margin: 0 30px 0 30px;
}
.sobreNos h2{
    font-size: 3rem;
}
.sobreNos h2 span {
    color: #ED1616;
}
.imagensPessoas {
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.imagensPessoas {
    display: flex;
    justify-content: center;
}
.imagensPessoas img {
    width: 200px;
}

.sobreNosSaibaMais {
    margin-bottom: 2vw;
}
.sobreNosSaibaMais div img {
    width: 190vh;
    height: 60vh;
}
.sobreNosSaibaMais div {
    margin: 15px 0 20px 0;
    display: flex;
    justify-content: center;
}
.sobreNosSaibaMais p a {
    margin-left: 5.2vw;
    background-color: #ED1616;
    padding: 5px 45px 5px 45px;
    border-radius: 25px;
    font-size: 1.2rem;
}

/* Melhores treinadores */
.melhoresTreinadores {
    background-color: #2C2C2C;
}
.melhoresTreinadores h2 {
    font-family: "Alfa Slab One", serif;
    font-size: 3rem;
    margin-bottom: 20px;
}
.melhoresTreinadores div {
    margin: 10vw 5vw;
}
.melhoresTreinadores h3 {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.melhoresTreinadores h2 span {
    color: #ED1616;
}
.melhoresTreinadores p {
    font-family: "Noto Serif", serif;
    margin-bottom: 30px;
}
.melhoresTreinadores ul {
    display: flex;
    justify-content: space-between;
    margin: 0 15vw 0 15vw;
}
.melhoresTreinadores img {
    width: 200px;
}
.melhoresTreinadores ul li p {
    font-size: 0.8rem;
    opacity: 0.5;
}

/* footer */
.logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-footer {
    text-align: center;
}
.instagram-footer h4 {
    font-size: 2rem;
}
.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}
.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}
.contatos-footer p {
    margin-bottom: 10px;
}
.contatos-footer p a {
    text-decoration: underline;
}
.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}
.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}
.linhas-footer img {
    width: 90vw;
}