/* body */
body {
    background-color: #100E0E;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* header */
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    margin: 0 0 0 1.5vw;
}
.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}
.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(-22.39deg);
}

/* main */
main p {
    color: #F24B4B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
main h1 {
    color: white;
}
main h2 {
    color: white;
}