@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: white; /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    margin: 0 0 0 1.5vw;
}
.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}
.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}
.navegacao-site {
    color: white;
    margin-top: 2vw;
}
.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}
.navegacao-site ul li {
    transition: transform 0.3s ease;
}
.navegacao-site ul li a:hover {
    color: #F24B4B;
}
.navegacao-site ul li:hover {
    transform: scale(1.1);
}
.navegacao-site ul li p:hover{
 color: #F24B4B;
}
.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 18px;
    font-size: 1.3vw;
}
.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}
.navegacao-site nav ul li ul li {
      position: relative;
      margin: 15px 0 15px 0;
      opacity: 0.7;
      transition: opacity 0.3s ease, transform 0.3s ease;
}
.navegacao-site nav ul li ul {
      display: none;
}
.navegacao-site nav ul li:hover ul {
  display: block;
  position: absolute;
}
.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* footer */
.logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-footer {
    text-align: center;
}
.instagram-footer h4 {
    font-size: 2rem;
}
.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}
.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}
.contatos-footer p {
    margin-bottom: 10px;
}
.contatos-footer p a {
    text-decoration: underline;
}
.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}
.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}
.linhas-footer img {
    width: 90vw;
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}
.texto-inicio-banner {
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%, -50%);
}
.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}
.banner-inicio h2 {
    font-family: "Saira Stencil One", sans-serif;
    font-size: 7vw;
    margin-left: 15vw;
}

/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}
.linhas img {
    width: 90vw;
}

/* sobre nós textos */
.sobreNosTextos h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}
.sobreNosTextos h3 span {
    color: #ED1616;
}
.sobreNosTextosP1 {
    margin-bottom: 30px;
}
.sobreNosTextosP1 p {
    background-color: #2C2C2C;
    margin-right: 10vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: "Noto Serif", serif;
}
.sobreNosTextosP2 p {
    background-color: #2C2C2C;
    margin-left: 10vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: "Noto Serif", serif;
}
.sobreNosTextosP2 {
    margin-bottom: 3vw;
}
.textosSaudeMental {
    background-color: #2C2C2C   ;
    margin-left: 11vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Sobre nós */
.sobreNos {
    margin: 0 30px 0 30px;
}
.sobreNos h2{
    font-size: 3rem;
}
.sobreNos h2 span {
    color: #ED1616;
}
.imagensPessoas {
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.imagensPessoas {
    display: flex;
    justify-content: center;
}
.imagensPessoas img {
    width: 200px;
}
.imagensPessoas p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.sobreNosSaibaMais {
    margin-bottom: 2vw;
}
.sobreNosSaibaMais div img {
    width: 180vh;
    height: 50vh;
}
.sobreNosSaibaMais div {
    margin: 15px 0 20px 0;
    display: flex;
    justify-content: center;
}
.sobreNosSaibaMais p a {
    margin-left: 5.2vw;
    background-color: #ED1616;
    padding: 10px 60px 10px 60px;
    border-radius: 25px;
    font-size: 1.4rem;
}

