@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #F5F5F5;
}

a {
    text-decoration: none;
    /* remove o sublinhado dos links */
    color: white;
    /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 4vw;
    height: 4vw;
    margin: 0 0 0 1.5vw;
}

.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}

.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}

.navegacao-site {
    color: white;
      max-width: 100%;  margin-top: 2vw;
}

.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navegacao-site ul li {
    transition: transform 0.3s ease;
}

.navegacao-site ul li a:hover {
    color: #F24B4B;
}

.navegacao-site ul li:hover {
    transform: scale(1.1);
}

.navegacao-site ul li p:hover {
    color: #F24B4B;
}

.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 1.5vw;
    font-size: 1.3rem;
}

.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

.navegacao-site nav ul li ul li {
    position: relative;
    margin: 15px 0 15px 0;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navegacao-site nav ul li ul {
    display: none;
}

.navegacao-site nav ul li:hover ul {
    display: block;
    position: absolute;
}

.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}

.texto-inicio-banner {
    position: absolute;
    margin: 13vw 8vw;
}

.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}

.banner-inicio h1 span {
    font-size: 4vw;
    display: block;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
.redesSociaisBanner {
    padding: 5px 450px 5px 100px;
    background: linear-gradient(to right, #ED1616, #ED1616, white);
    position: absolute;
    top: 100vh;
    font-size: 1.8vw;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.redesSociaisBanner a {
    margin: 0 8px 0 8px;
}

/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}

.linhas img {
    max-width: 100%;
    width: 95%;
}

/* sobre nós textos */
.sobreNosTextos h3 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10px;
}

.sobreNosTextos h3 span {
    color: #ED1616;
}

.sobreNosTextosP2 {
    margin-bottom: 3vw;
}

.sobreNosTextosP2 h3 {
    font-family: "Saira Stencil One", sans-serif;
    font-size: 3.2vw;
    text-align: center;
}

.sobreNosTextosP2 h3 span {
    color: #ED1616;
}

.sobreNosTextosP2 p {
    text-align: center;
    font-size: 1.5vw;
    padding: 2vw 6vw;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
}

/* Melhores treinadores */
.melhoresTreinadores {
    background-color: #2C2C2C;
}

.melhoresTreinadores h2 {
    font-family: "Alfa Slab One", serif;
    font-size: 2.5vw;
    padding: 1.5vw 0;
    text-align: center;
}

.melhoresTreinadores div {
    margin: 4vw 5vw;
}

.melhoresTreinadores h3 {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.3vw;
    margin-bottom: 0.3vw;
}

.melhoresTreinadores h2 span {
    color: #ED1616;
}

.melhoresTreinadores p {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    margin-bottom: 3vw;
    font-size: 1.5vw;
    text-align: center;
}

.melhoresTreinadores ul {
    display: flex;
    justify-content: space-between;
    margin: 0 15vw 0 15vw;
}

.melhoresTreinadores img {
    width: 18vw;
}

.melhoresTreinadores ul li {
    text-align: center;
}

.melhoresTreinadores ul li p {
    font-size: 0.8vw;
    opacity: 0.5;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
}


/* footer */
.logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-footer {
    text-align: center;
}
.instagram-footer h4 {
    font-size: 2rem;
}
.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}
.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}
.contatos-footer p {
    margin-bottom: 10px;
}
.contatos-footer p a {
    text-decoration: underline;
}
.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}
.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}
.linhas-footer img {
    width: 90vw;
}
.textosSaudeMental a {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    .melhoresTreinadores {
        margin: 14% 0 14% 0;
    }
    .sobreNosTextosP2 p {
        font-size: 2vw;
    }
    .melhoresTreinadores p {
        font-size: 2vw;
    }
    .melhoresTreinadores ul li p {
        font-size: 1vw;
    }
}