@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

a {
    text-decoration: none;
    /* remove o sublinhado dos links */
    color: white;
    /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 0 0 1.5vw;
    width: 4vw;
    height: 4vw;
}

.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}

.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}

.navegacao-site {
    color: white;
      position: absolute;
}

.navegacao-site #burger {
    display: none;
}
.navegacao-site nav{
    margin: 2vw 0 0 48vw;
}
.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navegacao-site ul li {
    transition: transform 0.3s ease;
}

.navegacao-site ul li a:hover {
    color: #F24B4B;
}

.navegacao-site ul li:hover {
    transform: scale(1.1);
}

.navegacao-site ul li p:hover {
    color: #F24B4B;
}

.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 18px;
    font-size: 1.3vw;
}

.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

.navegacao-site nav ul li p {
    opacity: 1
}

.navegacao-site nav ul li ul li {
    position: relative;
    margin: 15px 0 15px 0;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navegacao-site nav ul li ul {
    display: none;
}

.navegacao-site nav ul li:hover ul {
    display: block;
    position: absolute;
}

.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* footer */
.logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-footer {
    text-align: center;
}

.instagram-footer h4 {
    font-size: 2rem;
}

.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}

.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}

.contatos-footer p {
    margin-bottom: 10px;
}

.contatos-footer p a {
    text-decoration: underline;
}

.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}

.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}

.linhas-footer img {
    width: 90vw;
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}

.texto-inicio-banner {
    position: absolute;
    margin: 13vw 8vw;
}

.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}

.banner-inicio h1 span {
    margin-left: 5vw;
    color: white;
    display: block;
}

.redesSociaisBanner {
    padding: 5px 450px 5px 100px;
    background: linear-gradient(to right, #ED1616, #ED1616, white);
    position: absolute;
    top: 100vh;
    font-size: 1.8vw;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.redesSociaisBanner a {
    margin: 0 8px 0 8px;
}

/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}

.linhas img {
    width: 90vw;
}

/* sobre nós textos */
.sobreNosTextos h3 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0.5vw;
}

.sobreNosTextos h3 span {
    color: #ED1616;
}

.sobreNosTextosP1 {
    margin-bottom: 2vw;
}

.sobreNosTextosP1 p {
    background-color: #2C2C2C;
    margin-right: 10vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 1.2vw;
    line-height: 1.6vw;
    font-family: "Noto Serif", serif;
}

.sobreNosTextosP2 p {
    background-color: #2C2C2C;
    margin-left: 10vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-family: "Noto Serif", serif;
}

.sobreNosTextosP2 {
    margin-bottom: 3vw;
}

.textosSaudeMental {
    background-color: #2C2C2C;
    margin-left: 11vw;
    padding: 2vw 2vw 2vw 2vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

/* Sobre nós */
.sobreNos {
    margin: 0 8vw 0 8vw;
}

.sobreNos h2 {
    font-size: 3rem;
}

.sobreNos h2 span {
    color: #ED1616;
}
.sobreNos p {
    font-size: 1.2vw;
    line-height: 1.6vw;
    font-family: "Noto Serif", serif;
    text-align: center;
}

.sobreNosSaibaMais {
    margin-bottom: 2vw;
}

.sobreNosSaibaMais div img {
    width: 50vw;
    height: 20vw;
}

.sobreNosSaibaMais div {
    margin: 0.8vw 0 1vw 0;
    display: flex;
    justify-content: center;
}

.sobreNosSaibaMais p a {
    margin-left: 5.2vw;
    background-color: #ED1616;
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 2vw;
    font-size: 1.4vw;
}

@media (max-width: 999px) {
    .sobreNosTextos h3 {
        font-size: 5vw;
    }

    .sobreNosTextosP1 p {
        font-size: 3vw;
        line-height: 3vw;
    }

    .sobreNosTextosP2 p {
        font-size: 3vw;
        line-height: 3vw;
    }

    .sobreNos p {
        font-size: 3vw;
        line-height: 3vw;
    }
    .logo {
        width: 6.5vw;
        height: 6.5vw;
        margin: 0 0 0 2vw;
    }

    .logo-text {
        font-size: 2.5vw;
        padding: 0 0 0 1vw;
    }

    .logo-brain {
        width: 8vw;
        height: 8vw;
        padding: 0.6vw 0 0 0;
    }
}
@media (max-width: 768px){
    header{
        position: relative;
    }
.navegacao-site span#burger{
    display: block;
    color: white;
    text-decoration: none;
    text-align: end;
    cursor: pointer;
    margin: 2vw 0 0 90vw;
    font-size: 1.4rem;
}
.navegacao-site{
    position: absolute;
}
.navegacao-site nav{
    display: none;
    margin: 0 0 0 80vw;
}
.navegacao-site ul{
    flex-direction: column;
    font-size: 1.1rem;
}
.navegacao-site nav ul li{
    margin: 1vw 0;
}
}
.navegacao-site nav ul li ul li{
    margin: 1.3vw 0;
}
.navegacao-site nav ul li:hover ul {
    display: block;
    position: relative;
}

 @media (max-width: 600px){
    .navegacao-site ul{
        font-size: 1rem;
    }
    .navegacao-site nav{
        margin: 0 0 0 78vw;
    }
 }
  @media (max-width: 500px){
    .navegacao-site ul{
        font-size: 0.9rem;
    }
    .navegacao-site  nav{
        margin: 0 0 0 75vw;
    }
    span #burger{
        margin: 2vw 0 0 88vw;
    }
 }
 @media (max-width: 450px){
    .navegacao-site ul{
        font-size: 0.8rem;
    }
 }
 @media (max-width: 400px){
    .navegacao-site ul{
        font-size: 0.7rem;
    }
   span #burger{
    font-size: 1.2rem;
   }
 }
 @media (max-width: 340px){
    .navegacao-site ul{
        font-size: 0.65rem;
    }
    span #burgen{
        font-size: 1.1rem;
        margin: 2vw 0 0 87vw;
    }
    .navegacao-site nav{
        margin: 0 0 0 70vw;
    }
 }