@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #F5F5F5;
}

a {
    text-decoration: none;
    /* remove o sublinhado dos links */
    color: white;
    /* altera a cor de todos os links das páginas */
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    background-color: black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 4vw;
    height: 4vw;
    margin: 0 0 0 1.5vw;
}

.logo-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8vw;
    padding: 0 0 0 0.5vw;
}

.logo-brain {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw 0 0 0;
    transform: rotate(18.39deg);
}

.navegacao-site {
    color: white;
    margin-top: 2vw;
}

.navegacao-site ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navegacao-site ul li {
    transition: transform 0.3s ease;
}

.navegacao-site ul li a:hover {
    color: #F24B4B;
}

.navegacao-site ul li:hover {
    transform: scale(1.1);
}

.navegacao-site ul li p:hover {
    color: #F24B4B;
}

.navegacao-site ul {
    font-family: "Saira Stencil One", sans-serif;
    display: flex;
    gap: 1.5vw;
    font-size: 1.3vw;
}
.navegacao-site span {
    text-decoration: underline;
    text-decoration-color: #F24B4B;
}

.navegacao-site nav ul li ul li {
    position: relative;
    margin: 15px 0 15px 0;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navegacao-site nav ul li ul {
    display: none;
}

.navegacao-site nav ul li:hover ul {
    display: block;
    position: absolute;
}

.navegacao-site nav ul li ul li:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* main-banner */
.banner-inicio {
    color: white;
    text-align: center;
    background-image: url(../images/bannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 45vw;
}

.texto-inicio-banner {
    position: absolute;
    margin: 13vw 8vw;
}

.banner-inicio h1 {
    font-family: "Saira Stencil One", sans-serif;
    color: #ED1616;
    font-size: 7vw;
}

.banner-inicio h1 span {
    font-size: 4vw;
    color: white;
    display: block;
}

.redesSociaisBanner {
    padding: 5px 450px 5px 100px;
    background: linear-gradient(to right, #ED1616, #ED1616, white);
    position: absolute;
    top: 100vh;
    font-size: 1.8vw;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.redesSociaisBanner a {
    margin: 0 8px 0 8px;
}


/* linhas */
.linhas {
    margin: 4vw 0 4vw 0;
    display: flex;
    justify-content: center;
}

.linhas img {
    max-width: 100%;
    width: 95%;
}
 /*formulario*/
 main {
     font-family: Arial, sans-serif;
     background: black;
     color: #fff;
     min-height: 100vh;
 }
 .title{
    text-align: center;
    color: #c00;
    font-size: 2rem;
    font-family: "Saira Stencil One", sans-serif;
    margin: 0 0 3vw 0;
 }
 .formulario {
     display: flex;
     justify-content: center;
 }

 .container {
     background: #fdfdfd;
     color: #000;
     padding: 30px;
     border-radius: 1vw;
     width: 35vw;
     box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
 }
 .container h2 {
     text-align: center;
     margin-bottom: 1.5vw;
     color: #c00;
     font-family: "Saira Stencil One", sans-serif;
     font-size: 1.2rem;
 }
 .pergunta p span{
    color: #ED1616;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Saira Stencil One", sans-serif;
 }
 .pergunta {
     margin-bottom: 1.5vw;
 }

 .pergunta p {
     font-weight: bold;
     margin-bottom: 0.7vw;
 }

 .opcoes {
     display: flex;
     gap: 1vw;
     flex-wrap: wrap;
 }

 .pergunta label {
     display: flex;
     align-items: center;
     gap: 0.5vw;
     cursor: pointer;
     font-size: 1rem;
 }

 input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     width: 18px;
     height: 18px;
     border: 2px solid #000;
     border-radius: 50%;
     display: grid;
     place-content: center;
 }

 input[type="radio"]::before {
     content: "";
     width: 10px;
     height: 10px;
     border-radius: 50%;
     transform: scale(0);
     transition: 0.2s ease-in-out;
     background-color: red;
 }

 input[type="radio"]:checked::before {
     transform: scale(1);
 }

 button {
     display: block;
     margin: 20px auto 0;
     padding: 10px 25px;
     border: none;
     border-radius: 30px;
     background: #c00;
     color: #fff;
     font-weight: bold;
     cursor: pointer;
 }

 #resultado {
     margin-top: 20px;
     font-weight: bold;
     text-align: center;
     color: #111;
     font-size: 1rem;
 }
/*section nav*/
.nav{
    padding: 0 6vw 2vw 6vw;
}
.nav nav ul li a{
    display: flex;
    justify-content:start;
    align-items: center;
    line-height: 3.5rem;
}
.nav nav ul li a img {
    background-color: #c00;
    border-radius: 100px;
    margin: 0 1vw 0 0;
    height: auto;
    max-width: 100%;
}
.nav nav ul li a p {
 color: #c00;
 font-size: 1.4rem;
 font-weight: bold;
 font-family: "Post No Bills Colombo ExtraBold";
}
/*Footer*/
 .logo-container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-footer {
    text-align: center;
}

.instagram-footer h4 {
    font-size: 2rem;
}

.instagram-footer p {
    margin-top: 15px;
    font-size: 3rem;
}

.contatos-footer {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}

.contatos-footer p {
    margin-bottom: 10px;
}

.contatos-footer p a {
    text-decoration: underline;
}

.copyright-footer {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #F24B4B;
}

.linhas-footer {
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
}

.linhas-footer img {
    width: 90vw;
}
.textosSaudeMental a {
    text-decoration: underline;
}
@media (min-width: 992px) {
    section.nav nav ul li a p {
 font-size: 2rem;
}
.title h2{
    font-size: 4rem;
}
.container h2{
    font-size: 2.5rem;
}
.pergunta p span{
    font-size: 2rem;
}
.pergunta p{
    font-size: 1.7rem;
}
.pergunta label{
    font-size: 1.8rem;
}
 button {
     margin: 30px auto 0;
     padding: 15px 35px;
     border-radius: 30px;
     font-size: 1.5rem;
     font-weight: bold;
     cursor: pointer;
 }
 #resultado{
    font-size: 1.8rem;
 }
 .nav nav ul li a p {
    font-size: 2.5rem;
 }
}
@media (max-width: 576px){
    .container{
width: 100vw;
    }
}